.container{
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    

}

#menuBtn {
    padding: 50px 50px;
    margin-left: 400px;

}

#foot {
    text-align: center;
    }

